/Anabaena_variabilis_ATCC_29413_NC_007413.1.gbk
/Pseudomonas_fluorescens_Pf-5_NC_004129.6.gbk
/Saccharopolyspora_erythraea_NRRL_2338_AM420293.1.gbk
/Salinispora_tropica_CNB-440_NC_009380.1.gbk
/Sorangium_cellulosum_So_ce_56_AM746676.1.gbk
/Streptomyces_griseus_griseus_NBRC_13350_AP009493.1.gbk
