/Kutzneria_sp_744_KK037166.1.gbk
/Micromonospora_sp_ATCC_39149_GG657738.1.gbk
/Micromonospora_sp_M42_KK037233.1.gbk
/Streptomyces_albidoflavus_strain_J1074_DS999645.1.gbk
/Streptomyces_ghanaensis_ATCC_14672_DS999641.1.gbk
/Streptomyces_ghanaensis_ATCC_14672_DS999642.1.gbk
/Streptomyces_hygroscopicus_ATCC_53653_GG657754.1.gbk
/Streptomyces_pristinaespiralis_ATCC_25486_CM000950.1.gbk
/Streptomyces_sp_AA4_GG657746.1.gbk
/Streptomyces_sp_AA4_GG657747.1.gbk
/Streptomyces_sp_C_GG657750.1.gbk
/Streptomyces_sp_C_GG657751.1.gbk
/Streptomyces_sp_C_GG657752.1.gbk
