/mibig-1.3.proG2.fna
/mibig-1.3.proG2.gbk
/mibig-2.0.proG2.fna
/mibig-2.0.proG2.gbk
/mibig-1.3.proG2.fna.fai
/mibig-2.0.proG2.fna.fai
/mibig-1.3.proG2.Pfam-v33.1.features.tsv
/mibig-1.3.proG2.Pfam-v34.0.features.tsv
/mibig-1.3.proG2.Tigrfam-v15.0.features.tsv
/mibig-1.3.proG2.Pfam-v31.0.features.tsv
